body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Убираем отступ у навигационной панели */
.navbar {
    margin-bottom: 0;
    padding: 0;
}

/* Прижимаем футер к низу */
footer {
    margin-top: auto;
}

/* Убираем задний цвет у текста на главной странице, делая showcase прозрачным */
#showcase {
    background: url('../img/earth.jpg') no-repeat center center/cover;
    min-height: 400px;
    text-align: center;
    color: black;
    position: relative;
    padding: 100px 0; /* Увеличиваем отступ, чтобы текст не прилипал к краям */
}

#showcase::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1)
}

#showcase * {
    position: relative;
    z-index: 2;
}

#showcase h1,
#showcase p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Оставляем тени для читаемости */
    background: none; /* Убираем задний цвет */
    padding: 0.5em; /* Делаем небольшую отбивку */
}

/* Настройка цвета highlight */
.highlight {
    color: #FFC107;
}


section img.scaled-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    object-fit: contain; /* сохраняет пропорции */
}

.border {
    border-radius: 10px;
    background-color: #f9f9f9;
}

.btn {
    margin-top: 10px;
}

